{% include "header.html" %}

<section text="center" layout="center full-width fix">
    <h1>Page unavailable</h1>

    <div layout="v-padding-15">
        <img src="static/liberte_democracia_PIRATAS.jpg" alt="Liberte a Democracia com os PIRATAS" layout="top-40" />
    </div>

    <p>Sorry, but the requested page is unavailable due to a server hiccup.</p>
    <p>Our engineers have been notified, so check back later.</p>
    
    <br>
    <p text="bigger bolder purple center">AHOY !!!</p>
</section>

{% include "footer.html" %}
