<section id="contatos" layout="center fix">
    <div layout="half left" ontablet="full-width" onmobile="full-width">
        <h1 layout="h-margin-15">
          <i class="material-icons" style="vertical-align: middle;">chat</i>
            Fale com os organizadores
        </h1>
        <p layout="h-margin-15">
            O Comitê Nacional da nossa campanha de coleta mantém um grupo <b>Telegram</b>,
            entre em contato conosco <a href='https://telegram.me/apoiopirata'>https://telegram.me/apoiopirata</a>
        </p>
        <ul>
            <li layout="v-margin-5">
                Entre também no site principal do partido, visite <a href='https://partidopirata.org/'>partidopirata.org</a>
            </li>
            <li layout="v-margin-5">
                Encontre-nos via <b>Twitter</b>, visite <a href="https://twitter.com/PartidoPirataBR">https://twitter.com/PartidoPirataBR</a>
            </li>
            <li layout="v-margin-5">
                Se você prefere <b>Facebook</b>, visite <a href='https://www.facebook.com/PartidoPirata.BR'>https://www.facebook.com/PartidoPirata.BR</a>
            </li>
        </ul>
    </div>

    <div layout="half right" ontablet="full-width" onmobile="full-width">
        <h1 layout="h-margin-15">
          <i class="material-icons" style="vertical-align: middle;">live_help</i>
            Envie uma pergunta
        </h1>
        <p layout="h-margin-15">
            Antes de perguntar, veja as <a href='/faqs/' text="big bolder">Perguntas e Respostas mais frequentes</a>.
        </p>
        <p  layout="h-margin-15">
            Se não encontrou a resposta para sua pergunta, envie então sua pergunta através
            do nossa <a href='/faqs/0/ask' text="big bolder">página de contato</a>.
        </p>
    </div>
</section>
