    <footer layout="center full-width" text="center navy white line-1">
        <span text="smaller">
            Licença GNU GPL - 
            <a href="http://www.gnu.org/licenses/gpl.html">Free Software Foundation</a>
        </span>
        <br>
        <span text="smaller">
            Feito com <a href='https://www.python.org'>Python</a>, 
                <a href='https://djangoproject.com'>Django</a> e 
                <a href='https://www.debian.org/'>Debian</a>
        </span>
    </footer>

    <!-- jQuery -->
    <script src="https://cdn.iikb.org/jquery/latest/jquery.min.js"></script>

    <!-- script -->
    <script type="text/javascript">
    </script>

</body>
</html>
