    <footer layout="center full-width" text="center navy white line-1" links="hover-white fadeIn">
        <span text="smaller">
            Licença GNU GPL -
            <a href="https://www.gnu.org/licenses/gpl.html">Free Software Foundation</a>
        </span>
        <br>
        <span text="smaller">
            Feito com <a href='https://www.python.org'>Python</a>,
                <a href='https://djangoproject.com'>Django</a> e
                <a href='https://www.debian.org/'>Debian</a>
        </span>
        <br>
        <span text="smaller">
            <a href='https://github.com/piratas/apoio-piratas'>apoio-piratas@github</a><br>
        </span>
    </footer>

    <!-- jQuery -->
    <script src="https://cdn.iikb.org/jquery/latest/jquery.min.js"></script>

    <!-- script -->
    <script type="text/javascript">
        // Copyright 2015 Mozart Olbrycht-Palmer; no rights reserved
        // Adapted in 2016 for the Brazilian Pirate Party by Carlos Costa.
        $(window).load(function(){
          var index;
          var list = '<ul class="column-list">';
          var option = [
              "Press",
              "Designs",
              "Social media",
              "Submissions",
              "Policy",
              "Technology",
              "Disputes",
              "Leadership",
              ];
          for (index = 0; index < option.length; index++) {
            list += "<li>" + option[index] + "</li>";
            }    
          list += "</ul>"; 
          $('#column-1').html(list);
          $("#column-1").contents().find("li").click(function() {
            $("#column-1").contents().find("li.selected").removeClass("selected");
            $(this).toggleClass("selected");
            $("#column-3").hide();
            var col1 = $("#column-1").contents().find(".selected").index();
            if (col1 == 1) {
              $("#default-3").hide();
            } else {
              $("#default-3").show();
            }
            option[0] = [
              "What is a press release?",
              "I have an idea for a press release",
              "I want to write a press release",
              "I want to join the Press Team",
              ];
            option[1] = [
              "I have an idea for a design",
              "I want to make a design",
              "I want to join the Design Team",
              ];
            option[2] = [
              "I want to join the Social Media Team",
              ]
            option[3] = [
              "What is a submission?",
              "I think we should make a submission",
              "I want to write or help write a submission",
              ];
            option[4] = [
              "I have an idea for a policy",
              "I want to write a policy",
              "I want to join the Policy Development Committee",
              ];
            option[5] = [
              "I want to join the IT Team",
              "I want to join the Programming Team",
              "I want to join the Internet Engineering Committee",
              ];
            option[6] = [
              "I want to join the Dispute Resolution Committee",
              ];
            option[7] = [
              "I want to join the National Council",
              "I want to be an Officer",
              "I want to be a State or Territory Coordinator",
              ];
            var list = '<ul class="column-list">';
            for (index = 0; index < option[col1].length; index++) {
              list += "<li>" + option[col1][index] + "</li>";
              }
            list += "</ul>";
            $('#column-3').html(list);
            $("#default-3").hide();
            $("#column-3").show();
            $("#column-3").contents().find("li").click(function() {
              $("#column-3").contents().find("li.selected").removeClass("selected");
              $(this).toggleClass("selected");
              var col3 = $("#column-3").contents().find(".selected").index();
              $(".output").children("div").hide();
              if (col1 == 0) {
                $("#press").children().eq(col3).show();
              } else if (col1 == 1) {
                $("#designs").children().eq(col3).show();
              } else if (col1 == 2) {
                $("#socmed").children().eq(col3).show();
              } else if (col1 == 3) {
                $("#submissions").children().eq(col3).show();
              } else if (col1 == 4) {
                $("#policy").children().eq(col3).show();
              } else if (col1 == 5) {
                $("#technology").children().eq(col3).show();
              } else if (col1 == 6) {
                $("#disputes").children().eq(col3).show();
              } else if (col1 == 7) {
                $("#leadership").children().eq(col3).show();
              }
            });
          });
        });
    </script>

</body>
</html>
