
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt_BR">
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Campanha de Coleta de Assinaturas para o Partido Pirata">
    <meta name="keywords" content="campanha, coleta, apoio, apoiamento, partido, piratas, partido pirata" />
    <meta name="author" content="Partido Pirata">
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <title>APOIE OS PIRATAS</title>

	<!--
		Opengraph (Facebook) e Twitter Card (Twitter).
		Livre-se deste tipo de spyware com Disconnect, Privacy Badger e Request Policy:
		https://disconnect.me/
		https://www.eff.org/privacybadger
		https://requestpolicycontinued.github.io/
	 -->
	<meta property="og:url" content="https://apoio.partidopirata.org/">
	<meta property="og:title" content="APOIE OS PIRATAS">
	<meta property="og:description" content="Campanha de Coleta de Assinaturas para o Partido Pirata" />
	<meta property="og:site_name" content="Apoie o Partido Pirata" />
	<meta property="og:image" content="https://apoio.partidopirata.org/static/img/liberte_democracia_PIRATAS.jpg" />
	<meta property="og:image:url" content="https://apoio.partidopirata.org/static/img/liberte_democracia_PIRATAS.jpg" />
	<meta property="og:image:secure_url" content="https://apoio.partidopirata.org/static/img/liberte_democracia_PIRATAS.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="1214" />
	<meta property="og:image:height" content="528" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="pt_BR" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@PartidoPirataBR" />
	<meta name="twitter:creator" content="@PartidoPirataBR" />
	<meta name="twitter:description" content="Campanha de Coleta de Assinaturas para o Partido Pirata" />
	<meta name="twitter:title" content="APOIE OS PIRATAS">
	<meta name="twitter:image" content="https://apoio.partidopirata.org/static/img/liberte_democracia_PIRATAS.jpg" />
	<meta name="twitter:image:alt" content="Liberte a Democracia - Partido Pirata" />

    <!-- favicon -->
    <link rel="shortcut icon" href="" />
    <link rel="icon" href="{% static "/img/favicon.ico" %}" type="image/x-icon" />

    <!-- The excelent http://helpers.araujo.cc plus our own CSS overlay -->
    <link rel="stylesheet" href="{% static "/static/css/fonts.css" %}" />
    <link rel="stylesheet" href="{% static "/static/css/helpers.min.css" %}" />
    <link rel="stylesheet" href="{% static "/static/css/piratas.css" %}" />

    <!--<link rel="stylesheet" href="http://openlayers.org/en/v3.15.1/css/ol.css" type="text/css">
        <script src="http://openlayers.org/en/v3.15.1/build/ol.js" type="text/javascript"></script>-->
</head>

<body text="line-1.5 gray-90" layout="no-margin" links="blue">
