
<section id='quem' layout="h-margin-5 h-padding-5 center">

    <h1 layout="h-margin-5 h-padding-5">O que é o Partido Pirata?</h1>

    <p layout="h-margin-5 h-padding-5">
        Somos um partido político em formação, com a sigla "PIRATAS", que se
        pauta pela democracia plena, pela transparência pública e pelo
        empoderamento das pessoas, com o objetivo de defender
        institucionalmente os direitos humanos fundamentais por meio do
        respeito à diversidade social, à liberdade de crença (e descrença),
        aos direitos civis e políticos, à privacidade individual e à
        liberdade de expressão.
    </p>

    <h1 layout="h-margin-5 h-padding-5">Como dar seu apoio?</h1>

    <p layout="h-margin-5 h-padding-5">
        O PIRATAS precisa de 500 mil fichas de apoio assinadas por eleitores 
        brasileiros em todo o país para obter seu registro como partido político. 
        Isso só será possível com a sua participação. Contamos com a vossa 
        colaboração para atingir a cota determinada pela legislação eleitoral e 
        fazer com que os PIRATAS representem você no cenário político nacional.
    </p>
    
    <p layout="margin-15 padding-15 gray-40 rounded" text="white">
        <span text="bolder big">Atenção</span>: apoiar a criação do PIRATAS
        não significa filiação partidária e não gera nenhum outro vínculo ou 
        responsabilidade legal com o partido. Apoiar a criação de partidos políticos
        É um direito seu no pleno exercício de sua cidadania!
    </p>
     
    <p layout="h-margin-5 h-padding-5">
        Apoio individual
    </p>
    <ol>
        <li>Imprima a ficha de apoio. Cada folha contém três fichas, mas você pode preencher apenas uma</li>
        <li>Preencha a ficha com caneta esferográfica e, de preferência, com seu Título de Eleitor em mãos</li>
        <li>Escreva seu nome completo, sem abreviações, e preencha as lacunas com os dados de seu Título de Eleitor, 
            zona eleitoral, seção e etc.<br>
            <span text="bold big line-1 red">Tip</span>: as informações sobre 
            Município e Estado se referem ao local de emissão do documento, não ao local de nascimento</li>
        <li>Se você não tiver seu Título de Eleitor em mãos acesse o site do TSE para obter os dados de seu título</li>
        <li>Se você estiver com dificuldades para acessar o site do TSE coloque na ficha a data de seu nascimento e o
            nome completo de sua mãe, sem abreviações.<br>
            <span text="bold big line-1 red">Tip</span>: o nome completo
            de sua mãe precisa ser o nome que ela tem no título de eleitor</li>
        <li>Não se esqueça de assinar a ficha de apoio antes de enviá-la pelo correio.
            Sua assinatura é a garantia de apoio ao PIRATAS</li>
        <li>Envie sua ficha pelo correio para o endereço da Comitê Municipal de Coletas de Assinaturas de seu Estado. 
            <a href='#'>Endereços Estaduais</a></li>
    </ol>
     
     
    <p layout="h-margin-5 h-padding-5">
        Seja coletor e consiga o apoio de seus familiares, amigos, vizinhos, colegas de trabalho e de escola. 
        Todos os eleitores brasileiros são importantes no apoio ao PIRATAS.
    </p>
     
    <ol>
        <li>Imprima a ficha de apoio. Cada folha contém três fichas</li>
        <li>Preencha com caneta esferográfica a ficha dos apoiadores que 
            você conseguir, de preferência, com os Títulos de Eleitor em mãos</li>
        <li>Escreva o nome deles completos, sem abreviações, e preencha as lacunas 
            com os dados dos Títulos de Eleitor: zona eleitoral, seção e etc.<br>
            <span text="bold big line-1 red">Tip</span>: as informações sobre 
            Município e Estado se referem ao local de emissão do documento, não ao 
            local de nascimento</li>
        <li>Caso o apoiador não tenha o Título de Eleitor em mãos, preencha os 
            campos da data de nascimento do apoiador e o nome da mãe, sem abreviações.<br>
            <span text="bold big line-1 red">Tip</span>: precisa ser o nome que a 
            mãe do apoiador tem no título de eleitor</li>
        <li>Peça para que cada apoiador assine sua ficha de apoio. A assinatura é a
            garantia de apoio ao PIRATAS</li>
        <li>Encaminhe as fichas de apoio pelo correio para o endereço do Comitê Municipal
            de Coletas de Assinaturas de seu Estado. <a href='#'>Endereços Estaduais</a></li>
        <li>Não espere acumular muitas fichas de apoio para enviar para a Comitê Municipal 
            de Coletas de Assinaturas. Quanto antes elas chegarem, melhor</li>
    </ol>
     
    <p layout="h-margin-5 h-padding-5">
        Se você quiser continuar a contribuir com o PIRATAS, preencha o cadastro e seja um
        mobilizador do nosso movimento de cidadania.
    </p>

</section>

