
{% load staticfiles %}

{% include "header.html" %}

    <nav layout="" text="upper big" text="navy white line-1" links="hover-white fadeIn">
        <div>
            <a href="/">HOME</a>
            <a href="/volunteer/">Volunteer</a>
        </div>
    </nav>

    <section layout="center v-padding-30">
        <table id="columns">
          <tr>
            <td style="border-right: black solid thin;">
              <div id="column-1" class="column">
              </div>
            </td>
            <td>
              <div id="column-3" class="column" style="display:none;">
              </div>
              <div style="text-align:center;">
              <span class="placeholder" id="default-3">Selecione uma opção<br>na coluna ao lado.</span>
              </div>
            </td>
          </tr>
        </table>

        <div id="press" class="output">
            <!-- O que é o Grupo de Trabalho de Comunicação? -->
            <div>
                <h2 layout="h-margin-15" text="italic">Quem não se comunica, se estrumbica!</h2>
                <p layout="h-margin-15">
                    O Grupo de Trabalho de Comunicação (GTC) é onde são inseridas as pessoas que 
                    possuem interesse em auxiliar traduzindo, editando e revisando textos, 
                    produzindo artes gráficas e audiovisuais para divulgação do partido, ajudar 
                    na cobertura de eventos produzidos ou apoiados pelo Piratas, administrar os 
                    canais de comunicação oficiais, elaborar comunicados de imprensa e assessorar 
                    a criação de GTCs estaduais e municipais.
                </p>
            </div>
        
            <!-- O que é um Comunicado de Imprensa? -->
            <div>
                <h2 layout="h-margin-15" text="italic">Que bom que você perguntou!</h2>
                <p layout="h-margin-15">
                    Um comunicado de imprensa (press release) é uma curta declaração oficial, 
                    geralmente com menos de 500 palavras, escrita de forma <b>objetiva e clara</b> 
                    sobre um determinado tema ou fato que é divulgada aos meios de comunicação.
                    Trata-se de um texto, <b>cuja essência é passar uma informação de maneira direta</b>.
                </p>
                <p layout="h-margin-15">
                    O foco do press release deverá sempre ser sobre a posição oficial do Partido Pirata.
                </p>
            </div>
        
            <!-- Eu tenho uma ideia para um Comunicado de Imprensa. E agora, o que faço? -->
            <div>
                <h2 layout="h-margin-15" text="italic">Maneiro, fale conosco!</h2>
                <p layout="h-margin-15">
                    Às vezes é difícil saber de tudo que está rolando, então nós apreciamos quando nos
                    enviam alguma coisa. Enviar e-mail com sugestões e informações relevantes para a 
                    <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>.
                </p>
            </div>
        
            <!-- Eu escrevi um Comunicado de Imprensa. Qual meu próximo passo? -->
            <div>
                <h2 layout="h-margin-15" text="italic">Melhor ainda, menos trabalho pra gente!</h2>
                <p layout="h-margin-15">
                    Se você é uma pessoa associada do Partido Pirata e possui um comunicado, pode enviar 
                    um email para <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>
                </p>
            </div>

            <!-- Eu escrevi um texto ou quero ajudar em revisar ou traduzir  -->
            <div>
                <h2 layout="h-margin-15" text="italic">Opa, que legal!</h2>
                <p layout="h-margin-15">
                    Nós usamos o Trello para revisão de textos. Caso você queira, sites 
                    como <a href="http://piratetimes.net/">piratetimes</a>
                    e <a href="https://torrentfreak.com/">torrentfreak</a> sempre 
                    possuem textos pertinentes sobre o Partido Pirata e nossas bandeiras. 
                </p>
                <p layout="h-margin-15">
                    Utilizamos ainda o <a href="https://pirata.hackpad.com">pirata.hackpad.com</a> onde 
                    você pode escrever seus textos que irão para revisão. Por último, ainda há o 
                    email <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>
                    onde você pode enviar os textos!
                </p>
            </div>

            <!-- Eu quero fazer parte do Grupo de Comunicação -->
            <div>
                <h2 layout="h-margin-15" text="italic">E nós queremos que você faça parte!</h2>
                <p layout="h-margin-15">
                    O primeiro passo é participar das reuniões. Grupo de Trabalho de Comunicação 
                    (GTC) se reúne quinzenalmente em reuniões abertas. Não esqueça de ler o guia 
                    editorial e o regimento interno do GTC. Você pode enviar um email para 
                    <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>
                    informando sua intenção de fazer parte do grupo.
                </p>
            </div>
        </div><!-- div id="press" class="output" -->
        
        <div id="designs" class="output">
            <!-- Eu tenho ideia para uma imagem ou um vídeo -->
            <div>
                <h2 layout="h-margin-15" text="italic">Supimpa!</h2>
                <p layout="h-margin-15">
                    Envie para nós a sua ideia pelo email 
                    <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>.
                </p>
            </div>
            
            <!-- Eu fiz uma imagem ou um vídeo -->
            <div>
                <h2 layout="h-margin-15" text="italic">Genial!</h2>
                <p layout="h-margin-15">
                    O Partido Pirata possui um Manual de Identidade Visual. 
                    Dê uma analisada e envie sua imagem ou vídeo para
                    <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>.
                </p>
            </div>
            
            <!-- I want to join the Design Team -->
            <div>
                <h2 layout="h-margin-15">Excellent, we can always use designers!</h2>
                <p layout="h-margin-15">
                    The Design Team creates promotional materials for 
                    the Party, ranging from how-to-vote cards to website banners.
                    Details about the Design Team are available
                    <a href='https://pirateparty.org.au/wiki/Design_Team/Terms_of_Reference'>here</a>.
                </p>
                <p layout="h-margin-15">
                    The National Council appoints members to the Design Team by majority vote.
                </p>
                <p layout="h-margin-15">
                    Email your application to the National Council:
                    <a href="mailto:nationalcouncil@pirateparty.org.au">nationalcouncil@pirateparty.org.au</a>.
                </p>
            </div>
        </div><!-- div id="designs" class="output" -->
        
        <div id="socmed" class="output">
            <!-- I want to join the Social Media Team -->
            <div>
                <h2 layout="h-margin-15">Awesome, we need active promotion!</h2>
                <p layout="h-margin-15">
                    The Social Media Team oversees the Twitter, 
                    Facebook and Google+ accounts. Members respond
                    to public enquiries, moderate discussions, and
                    post updates on Party events and policies. 
                    Details about the Social Media Team are available
                    <a href='https://pirateparty.org.au/wiki/Social_Media_Team/Terms_of_Reference'>here</a>.
                </p>
                <p layout="h-margin-15">
                    The National Council appoints members to the Social Media Team by majority vote.
                </p>
                <p layout="h-margin-15">
                    Email your application to the National Council:
                    <a href="mailto:nationalcouncil@pirateparty.org.au">nationalcouncil@pirateparty.org.au</a>.
                </p>
            </div>
        </div><!-- div id="socmed" class="output" -->
        
        <div id="submissions" class="output">
            <!-- What is a submission? -->
            <div>
                <h2 layout="h-margin-15">Glad you asked!</h2>
                <p layout="h-margin-15">
                    A submission is a document tendered to a public inquiry
                    or consultation that argues a position based on the Pirate
                    Party's policies. Usually they respond to proposed legislation,
                    but may cover a wide range of topics for which public and industry
                    bodies are holding consultations. Previous submissions can be found
                    <a href='https://pirateparty.org.au/submissions/'>here</a>.
                </p>
            </div>
            <!-- I think we should make a submission -->
            <div>
                <h2 layout="h-margin-15">Awesome, Let us know!</h2>
                <p layout="h-margin-15">
                    Sometimes it's hard to keep track of what's going on,
                    so we appreciate it when people spot something.
                </p>
                <p layout="h-margin-15">
                    Email the suggestion and relevant information to the Policy 
                    Development Committee:
                    <a href="mailto:policydev@pirateparty.org.au">policydev@pirateparty.org.au</a>.
                </p>
            </div>
            <!-- I want to write or help write a submission -->
            <div>
                <h2 layout="h-margin-15">Great, thanks for taking on the challenge!</h2>
                <p layout="h-margin-15">
                    Anyone can write a submission and submit it to the 
                    Inquiries Officer and National Council for approval.
                </p>
                <p layout="h-margin-15">
                    The process for submissions is explained 
                    <a href='https://pirateparty.org.au/wiki/Authorisation_processes#Submissions_to_consultations.2C_inquiries.2C_reviews.2C_etc'>here</a>.
                </p>
                <p layout="h-margin-15">
                    Submissions being prepared are announced on the Pirate Party's forum. To check 
                    out which submissions are being worked on, see the topics 
                    <a href='https://discuss.pirateparty.org.au/c/policy/inquiry'>here</a>.
                </p>
            </div>
        </div><!-- div id="submissions" class="output" -->
        
        <div id="policy" class="output">
            <!-- I have an idea for a policy -->
            <div>
                <h2 layout="h-margin-15">Awesome, we welcome new ideas!</h2>
                <p layout="h-margin-15">
                    If you have an idea for a policy you can choose to write it 
                    yourself or refer the idea to the Policy Development Committee
                    instead: <a href="mailto:policydev@pirateparty.org.au">policydev@pirateparty.org.au</a>.
                <p>
                <p layout="h-margin-15">
                    If you choose to write a policy or amendment yourself, the
                    Committee can review it and give you feedback. As a member,
                    you will automatically be notified of the next Congress or Policy 
                    Meeting where proposals can be presented for consideration.
                </p>
            </div>
            
            <!-- I want to write a policy -->
            
            <div>
            
            <h2 layout="h-margin-15">Initiative is great!</h2>
            
            <p layout="h-margin-15">If you have an idea for a policy you can choose to write it yourself or refer the idea to the Policy Development Committee instead: <a href="mailto:policydev@pirateparty.org.au">policydev@pirateparty.org.au</a>.<p>
            
            <p layout="h-margin-15">If you choose to write a policy or amendment yourself, the Committee can review it and give you feedback. As a member, you will automatically be notified of the next Congress or Policy Meeting where proposals can be presented for consideration.</p>
            
            </div>
            
            <!-- I want to join the Policy Development Committee -->
            
            <div>
            
            <h2 layout="h-margin-15">Excellent, hope you're not illiterate!</h2>
            
            <p layout="h-margin-15">The Policy Development Committee researches and drafts new policies, reviews policy proposals from individuals, and prepares submissions on government proposals and discussion papers. Members should have a good understanding of Party policies and the laws and practices that impact them.</p>
            
            <p layout="h-margin-15">Details about the Policy Development Committee are available <a href='https://pirateparty.org.au/wiki/Policy_Development_Committee/Terms_of_Reference'>here</a>.</p>
            
            <p layout="h-margin-15">Email your application to the National Council: <a href="nationalcouncil@pirateparty.org.au">nationalcouncil@pirateparty.org.au</a>.</p>
            
            </div>
        </div>
        
        <div id="technology" class="output">
        
        <!-- I want to join the IT Team -->
        
        <div>
        
        <h2 layout="h-margin-15">So, you're a nerd.</h2>
        
        <p layout="h-margin-15">Details about the IT Team are available <a href='https://pirateparty.org.au/wiki/IT_Team'>here</a>.</p>
        
        <p layout="h-margin-15">Email your application to the National Council: <a href="mailto:nationalcouncil@pirateparty.org.au">nationalcouncil@pirateparty.org.au</a>.</p>
        
        </div>
        
        <!-- I want to join the Programming Team -->
        
        <div>
        
        <h2 layout="h-margin-15">Great, we're always working on innovative projects!</h2>
        
        <p layout="h-margin-15">The Programming Team develops software and tools that promote participatory democratic principles and assists in the operation of the Party. All software produced by the group is open source.</p>
        
        <p layout="h-margin-15">Details about the Programming Team are available <a href='https://pirateparty.org.au/wiki/Programming_Team/Terms_of_Reference'>here</a>.</p>
        
        <p layout="h-margin-15">Email your application to the National Council: <a href="mailto:nationalcouncil@pirateparty.org.au">nationalcouncil@pirateparty.org.au</a>.</p>
        
        </div>
        
        <!-- I want to join the Internet Engineering Committee -->
        
        <div>
        
        <h2 layout="h-margin-15">To be honest, no one knows what it does ...</h2>
        
        <p layout="h-margin-15">The Internet Engineering Committee responds to efforts to undermine the security of the Internet and weaken core web standards.</p>
        
        <p layout="h-margin-15">Members prepare documentation and responses to reports and proposals from organisations such as the W3C and IETF on behalf of the Pirate Party. They also assist the Party in understanding the impact of developments within Internet standards organisations and other international organisations such as the ITU. A strong technical background is a must.</p>
        
        <p layout="h-margin-15">Details about the Internet Engineering Committee are available <a href='https://pirateparty.org.au/wiki/Internet_Engineering_Committee/Terms_of_Reference'>here</a>.</p>
        
        <p layout="h-margin-15">Email your application to the National Council: <a href="mailto:nationalcouncil@pirateparty.org.au">nationalcouncil@pirateparty.org.au</a>.</p>
        
        </div>
        
        </div>
        
        <div id="disputes" class="output">
        
        <div>
        
        <h2 layout="h-margin-15">It's a messy job, but someone has to do it!</h2>
        
        <p layout="h-margin-15">The Dispute Resolution Committee is the last resort for resolving internal disputes.</p>
        
        <p layout="h-margin-15">Three Dispute Resolution Committee Members are elected at the National Congress for terms of approximately two years. Nominations must be submitted in advance of the National Congress, which occurs every July. Members are notified at least 42 days in advance of the National Congress and informed of how to nominate themselves.</p>
        
        <p layout="h-margin-15">Only Full Members and Permanent Resident Members are able to be elected to the Dispute Resolution Committee.</p>
        
        <p layout="h-margin-15">Detailed information can be found in the <a href='https://pirateparty.org.au/constitution/'>Party Constitution</a>.</p>
        
        </div>
        
        </div>
        
        <div id="leadership" class="output">
        
        <!-- I want to join the National Council -->
        
        <div>
        
        <h2 layout="h-margin-15">Whoa, watch out Napoleon!</h2>
        
        <p layout="h-margin-15">The National Council is the primary and paramount administrative body of the Pirate Party.</p>
        
        <p layout="h-margin-15">Nine Councillors (the President, Secretary and Treasurer, their deputies, a Registered Officer and two Councillors) are elected at the National Congress for terms of approximately one year. Nominations must be submitted in advance of the National Congress, which occurs every July. Members are notified at least 42 days in advance of the National Congress and informed of how to nominate themselves.</p>
        
        <p layout="h-margin-15">Only Full Members and Permanent Resident Members are able to be elected to the National Council.</p>
        
        <p layout="h-margin-15">Detailed information can be found in the <a href='https://pirateparty.org.au/constitution/'>Party Constitution</a>.</p>
        
        </div>
        
        <!-- I want to be an Officer -->
        
        <div>
        
        <h2 layout="h-margin-15">Get into your fatigues, Mayo.</h2>
        
        <p layout="h-margin-15">Officers lead committees and teams or fulfil other specialist roles within the Pirate Party.</p>
        
        <p layout="h-margin-15">With the exception of the Policy Development Officer, all officers are appointed by the National Council for an indefinite period. The National Council does not ordinarily take applications for Officer positions unless it has formally announced a vacancy and invites applications.</p>
        
        <p layout="h-margin-15">The National Council usually invites a member to take up an Officer position where they display an appropriate aptitude and enthusiasm and there is a relevant position being created or vacated. Thus, active participation and involvement within the Party is likely to lead to an appointment.</p>
        
        <p layout="h-margin-15">The Policy Development Officer leads the Policy Development Committee and is elected annually at the National Congress. Nominations must be submitted in advance of the National Congress, which occurs every July. Members are notified at least 42 days in advance of the National Congress and informed of how to nominate themselves. Information on this position and committee is available <a href='https://pirateparty.org.au/wiki/Policy_Development_Committee/Terms_of_Reference'>here</a>.</p>
        
        </div>
        
        <!-- I want to be a State or Territory Coordinator -->
        
        <div>
            <h2 layout="h-margin-15">Great, we need more troops on the ground!</h2>
        
            <p layout="h-margin-15">
                The National Council appoints State or Territory Coordinator 
                to organise the Pirate Party on a state or territory level with 
                the goal of ultimately establishing a registered state or territory 
                branch. You do not need to be a coordinator in order to hold a 
                meeting, however.
            </p>
        
            <p layout="h-margin-15">
                If there are no meetings in your state or territory and you would like to organise one, please email the National Council to discuss details and advertise the meeting to the members: <a href="mailto:nationalcouncil@pirateparty.org.au">nationalcouncil@pirateparty.org.au</a>.</p>
        <p layout="h-margin-15">The National Council does not ordinarily take applications for Coordinator positions unless it has formally announced a vacancy and invites applications.</p>
        <p layout="h-margin-15">The National Council usually invites a member to take up a Coordinator position where they display an appropriate aptitude and enthusiasm and there is a relevant vacancy. Thus, active participation and involvement within the Party is likely to lead to an appointment.</p>
        <p layout="h-margin-15">More information is contained in <a href='https://pirateparty.org.au/wiki/By-laws#By-law_2013-01_-_State_and_Territory_Coordinators'>By-law 2013-01</a> and <a href='https://pirateparty.org.au/wiki/National_Council_Resolutions#Resolution_2011-4'>National Council Resolution 2011-4</a>.</p>
        </div>
        
        </div>
        
        </div>
    </section>

 {% include "footer.html" %}
