
{% load staticfiles %}

{% include "header.html" %}

    <!-- Fixed navbar -->
     <nav layout="" text="upper big" text="navy white line-1" links="hover-white fadeIn">
        <div>
            <a href="http://partidopirata.org/">
                <img src="/static/img/Piratpartiet.svg" width="32px" height="32px" alt="Partido Pirata" />
            </a>
            <a href="/">apoio</a>
            <a href="/volunteer/">Volunteer</a>
        </div>
    </nav>

    <section layout="center v-padding-30">
        <table id="columns">
          <tr>
            <td style="border-right: #522E91 solid thin;">
              <div id="column-1" class="column">
              </div>
            </td>
            <td>
              <div id="column-3" class="column" style="display:none;">
              </div>
              <div style="text-align:center;">
              <span class="placeholder" id="default-3">Selecione uma opção<br>na coluna ao lado.</span>
              </div>
            </td>
          </tr>
        </table>

        <div id="press" class="output">
            <!-- O que é o Grupo de Trabalho de Comunicação? -->
            <div>
                <h2 layout="h-margin-15" text="italic">Quem não se comunica, se estrumbica!</h2>
                <p layout="h-margin-15">
                    O Grupo de Trabalho de Comunicação (GTC) é onde são inseridas as pessoas que 
                    possuem interesse em auxiliar traduzindo, editando e revisando textos, 
                    produzindo artes gráficas e audiovisuais para divulgação do partido, ajudar 
                    na cobertura de eventos produzidos ou apoiados pelo Piratas, administrar os 
                    canais de comunicação oficiais, elaborar comunicados de imprensa e assessorar 
                    a criação de GTCs estaduais e municipais.
                </p>
            </div>
            <!-- Eu escrevi um texto ou quero ajudar em revisar ou traduzir  -->
            <div>
                <h2 layout="h-margin-15" text="italic">Opa, que legal!</h2>
                <p layout="h-margin-15">
                    Nós usamos o Trello para revisão de textos. Caso você queira, sites 
                    como <a href="http://piratetimes.net/">piratetimes</a>
                    e <a href="https://torrentfreak.com/">torrentfreak</a> sempre 
                    possuem textos pertinentes sobre o Partido Pirata e nossas bandeiras. 
                </p>
                <p layout="h-margin-15">
                    Utilizamos ainda o <a href="https://pirata.hackpad.com">pirata.hackpad.com</a> onde 
                    você pode escrever seus textos que irão para revisão. Por último, ainda há o 
                    email <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>
                    onde você pode enviar os textos!
                </p>
            </div>
            <!-- Eu quero fazer parte do Grupo de Comunicação -->
            <div>
                <h2 layout="h-margin-15" text="italic">E nós queremos que você faça parte!</h2>
                <p layout="h-margin-15">
                    O primeiro passo é participar das reuniões. Grupo de Trabalho de Comunicação 
                    (GTC) se reúne quinzenalmente em reuniões abertas. Não esqueça de ler o guia 
                    editorial e o regimento interno do GTC. Você pode enviar um email para 
                    <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>
                    informando sua intenção de fazer parte do grupo.
                </p>
            </div>
        </div><!-- div id="press" class="output" -->
        
        <div id="press2" class="output">
            <!-- O que é um Comunicado de Imprensa? -->
            <div>
                <h2 layout="h-margin-15" text="italic">Que bom que você perguntou!</h2>
                <p layout="h-margin-15">
                    Um comunicado de imprensa (press release) é uma curta declaração oficial, 
                    geralmente com menos de 500 palavras, escrita de forma <b>objetiva e clara</b> 
                    sobre um determinado tema ou fato que é divulgada aos meios de comunicação.
                    Trata-se de um texto, <b>cuja essência é passar uma informação de maneira direta</b>.
                </p>
                <p layout="h-margin-15">
                    O foco do press release deverá sempre ser sobre a posição oficial do Partido Pirata.
                </p>
            </div>
            <!-- Tenho uma ideia para um Comunicado de Imprensa. O que fazer? -->
            <div>
                <h2 layout="h-margin-15" text="italic">Maneiro, fale conosco!</h2>
                <p layout="h-margin-15">
                    Às vezes é difícil saber de tudo que está rolando, então nós apreciamos quando nos
                    enviam alguma coisa. Enviar e-mail com sugestões e informações relevantes para a 
                    <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>.
                </p>
            </div>
            <!-- Escrevi um Comunicado de Imprensa. Como proceder? -->
            <div>
                <h2 layout="h-margin-15" text="italic">Melhor ainda, menos trabalho pra gente!</h2>
                <p layout="h-margin-15">
                    Se você é uma pessoa associada do Partido Pirata e possui um comunicado, pode enviar 
                    um email para <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>
                </p>
            </div>
        </div><!-- div id="press2" class="output" -->

        <div id="designs" class="output">
            <!-- Eu tenho ideia para uma imagem ou um vídeo -->
            <div>
                <h2 layout="h-margin-15" text="italic">Supimpa!</h2>
                <p layout="h-margin-15">
                    Envie para nós a sua ideia pelo email 
                    <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>.
                </p>
            </div>
            
            <!-- Eu fiz uma imagem ou um vídeo -->
            <div>
                <h2 layout="h-margin-15" text="italic">Genial!</h2>
                <p layout="h-margin-15">
                    O Partido Pirata possui um Manual de Identidade Visual. 
                    Dê uma analisada e envie sua imagem ou vídeo para
                    <a href="mailto:comunicacao@partidopirata.org">comunicacao@partidopirata.org</a>.
                </p>
            </div>
        </div><!-- div id="designs" class="output" -->
        
        <div id="gti" class="output">
            <!-- Eu quero entrar no grupo de TI -->
            <div>
                <h2 layout="h-margin-15" text="italic">Então você é um Nerd, né?</h2>
                <p layout="h-margin-15">
                No <b>Grupo de Trabalho de Tecnologia da Informação (GTI)</b> são inseridas as pessoas que querem
                    auxiliar na manutenção da estrutura tecnológica do partido, desenvolvimento de sistemas e
                    plataformas de iniciativas piratas. Envie um email para <a href='mailto:gti@partidopirata.org'>gti@partidopirata.org</a>
                    e participe das reuniões.
                </p>
            </div>
        </div><!-- div id="gti" class="output" -->
        
        <div id="gtj" class="output">
            <!-- O que é o Jurídico Pirata? -->
            <div>
                <h2 layout="h-margin-15" text="italic">Então decidimos formar um Partido? Tem trabalho a ser feito!</h2>
                <p layout="h-margin-15">
                    O Partido Pirata no Brasil foi fundado, estamos buscando assinaturas mas ainda tem um longo caminho
                    burocrático pela frente em tribunais para sua formalização. O grupo de trabalho Jurídico do Partido 
                    Pirata precisa de juristas, advogados, estudantes de direito e voluntários nos processos burocráticos, 
                    institucionais, direitos de resposta além de assessorar juridicamente. 
                </p>
            </div>
            <!-- Quero ser parte do Jurídico do Partido Pirata -->
            <div>
                <h2 layout="h-margin-15" text='italic'>Que bom! Estamos precisando!</h2>
                <p layout="h-margin-15">
                    Se você é jurista, advogado ou estudante de direito, sempre é bem vinda uma forcinha na burocrática brasileira, 
                    na defesa legal das nossas bandeiras e no análise de questões jurídicas que concernem o Partido Pirata.
                    Envie um email para <a href="mailto:juridico@partidopirata.org">juridico@partidopirata.org</a>
                    pedindo para integrar o GTJ!
                </p>
            </div>
        </div><!-- div id="gtj" class="output" -->
        
        <div id="policy" class="output">
            <!-- O que é Gestão de Crises? -->
            <div>
                <h2 layout="h-margin-15" text='italic'>É um trabalho ingrato mas alguém precisa fazê-lo!</h2>
                <p layout="h-margin-15">
                    Toda família tem seus problemas. No Partido Pirata não é diferente.
                    A Gestão de Crises busca o entendimento entre partes em conflito e
                    faz encaminhamento de denúncias e acusações.
                <p>
                <p layout="h-margin-15">
                    É eleita a cada dois anos em Assembleia Nacional. Caso tenha 
                    interesse em integrar a Gestão de Crises envie um email para 
                    <a href='mailto:secretariageral@partidopirata.org'>secretariageral@partidopirata.org</a>
                    expressando sua intenção em concorrer ao cargo.
                </p>
            </div>
        </div><!-- div id="policy" class="output" -->
        
        <div id="inter" class="output">
            <!-- O que são Relações Internacionais? -->
            <div>
                <h2 layout="h-margin-15" text='italic'>Somos internacionalistas!</h2>
                <p layout="h-margin-15">
                    Nós Piratas proclamamos o internacionalismo como um princípio fundante de nossa atuação. 
                    Somo ainda fundadores da Internacional de Partidos Piratas (PPI). A PPI existe para 
                    ajudar a estabelecer, apoiar, promover e manter a comunicação e cooperação entre os 
                    partidos piratas ao redor do mundo. 
                </p>
                <p layout="h-margin-15">
                    O Grupo de Trabalho de Relações Internacionais (GTRI) acompanha as negociações de acordos 
                    e tratados internacionais que lidam por exemplo com liberdades civis e digitais, 
                    transparência, vigilância, propriedade intelectual e direitos humanos, no intuito de 
                    auxiliar na elaboração de campanhas e ações referentes.
                </p>
            </div>
            <!-- Quero ser parte do grupo de Relações Internacionais -->
            <div>
                <h2 layout="h-margin-15" text='italic'>Então, chega mais!</h2>
                <p layout="h-margin-15">
                    Envie um email para <a href='comunicacao@partidopirata.org'>comunicacao@partidopirata.org</a> 
                    e coloque na descrição do email "Eu quero ser parte do Grupo de Relações Internacionais do Partido Pirata." Ahoy!
                </p>
            </div>
        </div><!-- div id="inter" class="output" -->
               
        <div id="proposta" class="output">
            <!-- O que são propostas? -->
            <div>
                <h2 layout="h-margin-15" text='italic'>
                    do verbo transitivo "propor". Apresentar com alvitre, submeter a apreciação.
                </h2>
                <p layout="h-margin-15">
                    Propostas são documentos baseados em políticas do Partido Pirata. Pode ser uma petição,
                    um projeto de lei ou uma chamada para uma ação.
                </p>
            </div>
            <!-- Eu tenho uma ideia para uma proposta -->
            <div>
                <h2 layout="h-margin-15" text='italic'>Queremos ouvi-la!</h2>
                <p layout="h-margin-15">
                    Se a sua ideia já está bem formulada e está de acordo com as cláusulas pétreas e com o programa
                    do Partido Pirata você pode abrir uma proposição no Loomio em que ela será debatida e poderá ser 
                    votada. Antes de enviar algo para o Loomio leia primeiramente o 
                    <a href=' http://partidopirata.org/quem-somos/estrutura-nacional/documentos/programa/'>programa</a> do 
                    Partido Pirata e converse com o coletivo pirata da sua região ou com associados piratas para elaborar a proposta!
                </p>
            </div>
            <!-- O que é Loomio? -->
            <div>
                <h2 layout="h-margin-15" text='italic'>
                    Tomar decisões em conjunto: isso é o Loomio!
                </h2>
                <p layout="h-margin-15" text='italic'>
                    Loomio is decision-making software to assist groups with
                    collaborative decision-making processes.
                    [<a href='https://en.wikipedia.org/wiki/Loomio'>Wikipedia</a>]
                </p>
                <p layout="h-margin-15">
                    Loomio é uma fermenta online de deliberação usada pelo Partido Pirata. 
                    Lá você poderá apresentar sua proposta para que ela seja discutida e 
                    votada pelos Piratas. Basta criar uma conta pelo link 
                    <a href='https://www.loomio.org/users/sign_up'>https://www.loomio.org/users/sign_up</a> 
                    e acessar o grupo Partido Pirata pelo link
                    <a href='https://www.loomio.org/g/Hmpbu4Tr/partido-pirata-no-brasil-pirate-party-in-brazil'>https://www.loomio.org/g/Hmpbu4Tr/partido-pirata-no-brasil-pirate-party-in-brazil</a>.
               </p>
            </div>
        </div><!-- div id="proposta" class="output" -->
        
    </section>

 {% include "footer.html" %}
