<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- meta -->
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">

    <title>
      {{#single}}{{post.title}} - {{/single}}
      {{#page}}{{title}} - {{/page}}
      {{title}}
    </title>

    <!-- favicon -->
    <link rel="shortcut icon" href="" />
    <link rel="icon" href="inc/template/favicon.ico" type="image/x-icon" />

    <!-- Droid Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />

    <!-- The excelent http://helpers.araujo.cc plus our own CSS overlay -->
    <link rel="stylesheet" href="inc/template/helpers.min.css" />
    <link rel="stylesheet" href="inc/template/style.css" />
</head>

<body layout="no-margin">

    <nav layout="" text="line-2 left upper light gray-50">
        <a href="login.lua" layout="rounded no-border right start"
            text="white" style="padding: 5px 20px; background-color: #4C2582;">
               login
        </a>

        <div>
            <a href="#quem">Quem somos</a>
            <a href="#como">Como apoiar</a>
            <a href="#faq">FAQ</a>
            <a href="#contatos">Contatos</a>
        </div>
    </nav>

    <section id="landing" text="center navy white line-1" layout="center full-width" clearfix>
        <h1 text="giant bolder">
            {{#single}}{{post.title}} - {{/single}}
            {{#page}}{{title}} - {{/page}}
            {{title}}
            <br>
            <span text="smaller light white">
                <small>Faça download da Ficha de Apoio e ajude a fundar o PIRATAS.</small>
            </span>

            </h1>
            <a href="./ficha.zip" layout="rounded white no-border inline-block"
                text="bigger" style="padding: 15px 40px;">
                Download da Ficha
            </a>
    </section>



