<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- meta -->
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">

    <title>
      {{#single}}{{post.title}} - {{/single}}
      {{#page}}{{title}} - {{/page}}
      {{title}}
    </title>

    <!-- favicon -->
    <link rel="shortcut icon" href="" />
    <link rel="icon" href="inc/template/favicon.ico" type="image/x-icon" />

    <!-- The excelent http://helpers.araujo.cc plus our own CSS overlay -->
    <link rel="stylesheet" href="inc/template/helpers.min.css" />
    <link rel="stylesheet" href="inc/template/style.css" />
</head>

<body layout="no-margin">

    <nav layout="" text="line-2 center upper light gray-50">
        <a href="#about">About</a>
        <a href="#text">Text</a>
        <a href="#layout">Layout</a>
        <a href="#mobile">Mobile/Printer</a>
        <a href="#enjoy">Get involved!</a>
    </nav>

    <section text="center navy white line-1" layout="center orange full-width" clearfix>
        <p text="line-2">
            <img src="inc/template/pp.png" height="42" width="42" id="logo">
        </p>
        <h1 text="giant normal">
            {{#single}}{{post.title}} - {{/single}}
            {{#page}}{{title}} - {{/page}}
            {{title}}
            <br>
            <span text="smaller light white">
                <small>Useful tools for helping on the web development.</small>
            </span>
        </h1>
    </section>

    <section layout="center" clearfix>
        <p text="line-2">Faça download da Ficha de Apoio e ajude a fundar o PIRATAS.</p>
    </section>


    <section layout="center">
        <h2>O que sao os piratas?</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="[=pages/piratas]" role="button">saiba mais &raquo;</a></p>

        <h2>Por que confiar em piratas?</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="[=pages/porque]" role="button">saiba mais &raquo;</a></p>

        <h2>Procedimento para apoiar</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="[=pages/apoiar]" role="button">saiba mais &raquo;</a></p>
    </section>

