
{% load staticfiles %}

{% include "header.html" %}

    <nav layout="" text="upper big" text="navy white line-1" links="hover-white fadeIn">
        <div>
            <a href="http://partidopirata.org/">
                <img src="/static/img/Piratpartiet.svg" width="32px" height="32px" alt="Partido Pirata" />
            </a>
            <a href="/">apoio</a>
            <a href="/faqs">FAQ</a>
            <a href="/faqs/{{ question.id }}">{{question.id }}</a>
        </div>
    </nav>

    <h2 layout="margin-15">Respostas para as perguntas mais frequentes</h2>

    <section layout="center fix">
        <div layout="half left" ontablet="full-width" onmobile="full-width">
             <h1 layout="h-margin-15">
                <i class="material-icons" style="vertical-align: middle;">live_help</i>
                {{ question.question_text }}
            </h1>
            <p layout="h-margin-15">{{ answer.answer_text }}</p>
            <p text="small" layout="h-margin-15">
                <span text='red bolder'>META</span> :: {{ question.question_status }} :: {{ answer.pub_date }} :: {{ answer.answer_vote }}
            </p>
        </div>

        <div layout="half right" ontablet="full-width" onmobile="full-width">
           <p layout="h-margin-15">
             Se não encontrou a resposta para sua dúvida, envie então sua pergunta através
             do formulário abaixo.
            </p>

            <div layout='table'>
                <form action="{% url 'faqs:thanks' %}" method="post" layout="h-margin-15">
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <input type="submit" value="enviar" />
             </form>
                 </form>
            </div>
        </div>
    </section>

{% include "footer.html" %}
