
{% include "header.html" %}

    <h1 layout="margin-5">Respostas para as perguntas mais frequentes</h1>

    <section layout="h-margin-5 center">
        <h3>{{ question.question_text }}</h3>
        <p>
        {{ answer.answer_text }}
        </p>
        <p text="small bold">
        status: {{ question.question_status }} <br>
        versão: {{ answer.pub_date }} <br>
        voto: {{ answer.answer_vote }}
    </section>

    <section layout="h-margin-5 center">
        <div layout='table'>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
          
            <form action="{% url 'faqs:index' %}" method="post">
                    <label>
                          <span>Nome</span><input id="name" type="text" name="name" />
                        </label> 
                      
                    <label>
                          <span>Email</span><input id="email" type="text" name="email" />
                        </label> 
              
                    <label>
                          <span>Pergunte</span><textarea id="question" name="question"></textarea>
                            <br>                     
                            <input type="submit" value="enviar" />
                        </label>
             </form>
        </div>
    </section>

{% include "footer.html" %}

