
{% include "header.html" %}

    <h1 layout="margin-5">Respostas para as perguntas mais frequentes</h1>

    <section layout="h-margin-5 center">
        <h3 text="center bigger bold">{{ question.text }}</h3>
        {% if accepted_answer %}
        <div layout="block padding-10">
            <p text="big purple justify">
                {{ accepted_answer.text }}
            </p>
            <p text="right small bold italic">
            Por {{accepted_answer.user}} em {{ accepted_answer.pub_date }}
            <!-- votos: {{ accepted_answer.vote }} -->
            </p>
        </div>
        <hr>
        {% endif %}

        {% for answer in answers %}
        <div layout="block padding-10">
            <p text="semi-bold justify">
            {{ answer.text }}
            </p>
            <p text="right small bold italic">
            Por {{answer.user}} em {{ answer.pub_date }}
            </p>
        </div>
        <hr>
        {% empty %}
            {% if not accepted_answer %}
                <p>Sem resposta</p>
            {% endif %}
        {% endfor %}
    </section>

{% include "footer.html" %}
