
{% load staticfiles %}

{% include "header.html" %}

    <nav layout="" text="upper big" text="navy white line-1" links="hover-white fadeIn">
        <div>
            <a href="http://partidopirata.org/">
                <img src="/static/img/Piratpartiet.svg" width="32px" height="32px" alt="Partido Pirata" />
            </a>
            <a href="/">apoio</a>
            <a href="/faqs">FAQ</a>
        </div>
    </nav>

    <section layout="center fix">
        <h2 layout="margin-15">Respostas para as perguntas mais frequentes</h2>

        {% if latest_question_list %}

            {% for question in latest_question_list %}

                <p text="big" layout="margin-15">
                    {{ question.id }} - 
                    <a href="/faqs/{{ question.id }}/">{{ question.question_text }}</a>
                </p>

            {% endfor %}

        {% else %}

            <p>Sem perguntas no momento.</p>

        {% endif %}
    </section>

{% include "footer.html" %}
