{% load staticfiles %}

{% include "header.html" %}

    <nav layout="" text="upper big" text="navy white line-1" links="hover-white fadeIn">
        <div>
             <a href="http://partidopirata.org/">
                <img src="/static/img/Piratpartiet.svg" width="32px" height="32px" alt="Partido Pirata" />
            </a>
            <a href="/">apoio</a>
            <a href="/faqs">FAQ</a>
            <a href="/faqs/ask/">ASK</a>
        </div>
    </nav>

    <h2 layout="margin-15">Respostas para as perguntas mais frequentes</h2>

    <section layout="center fix">
        <p layout="h-margin-15">
            Thanks! Nós recebemos sua pergunta, ela será respondida em breve
            e você poderá ler na nossa página de <a href="/faqs">Respostas para as perguntas mais frequentes</a>
        </p>
        <p layout="h-margin-15">name: <strong>{{ name }}</strong></p>
        <p layout="h-margin-15">email: <strong>{{ email }}</strong></p>
        <p layout="h-margin-15">comment: <strong>{{ comment }}</strong></p>
    </section>

{% include "footer.html" %}

