{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <title>APOIE OS PIRATAS</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="" />
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon" />

    <!-- Google Web Fonts -->
    <link href='https://www.google.com/fonts/specimen/Open+Sans' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css' />
    <link href='https://www.google.com/fonts#UsePlace:use/Collection:Droid+Sans+Mono' rel='stylesheet' type='text/css' />

    <!-- Google Material Font Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- The excelent http://helpers.araujo.cc plus our own CSS overlay -->
    <link rel="stylesheet" href="{% static "helpers.min.css" %}" />
    <link rel="stylesheet" href="{% static "piratas.css" %}" />

    <!--<link rel="stylesheet" href="http://openlayers.org/en/v3.15.1/css/ol.css" type="text/css">
      <script src="http://openlayers.org/en/v3.15.1/build/ol.js" type="text/javascript"></script>-->
</head>

<body text="line-1.5 gray-90" layout="no-margin">

    <nav layout="" text="upper big" text="navy white line-1" links="hover-white fadeIn">
        <div>
            <a href="/">HOME</a>
            <a href="/faqs">FAQ</a>
            <a href="/faqs/ask/">ASK</a>
        </div>
    </nav>

    <h2 layout="margin-15">Respostas para as perguntas mais frequentes</h2>

    <section layout="center fix">
        <p layout="h-margin-15">
            Thanks! Nós recebemos sua pergunta, ela será respondida em breve
            e você poderá ler na nossa página de <a href="/faqs">Respostas para as perguntas mais frequentes</a>
        </p>
        <p layout="h-margin-15">name: <strong>{{ name }}</strong></p>
        <p layout="h-margin-15">email: <strong>{{ email }}</strong></p>
        <p layout="h-margin-15">comment: <strong>{{ comment }}</strong></p>
    </section>

{% include "footer.html" %}

