
body {
    font-family: 'Droid Sans', sans-serif;
    /*font-size: 14px;*/
}

code {
    font-size: 1.2em;
}

a {
    transition: color linear .12s, opacity linear .12s
}

a:hover {
    color:  #522E91;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 42px 42px;
    background-color: #522E91;
    padding: 20px 0;
}

nav div {
    margin-left: 42px;
    background-color: #522E91;
}

nav a[href] {
    display: inline;
    margin-right: 20px;
    color:  #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;      
}


nav a[href] img {
    display: inline-block;
    vertical-align: middle;
}

nav a[href]:hover {
    text-decoration: underline;
}

nav a[href]:hover img {
    text-decoration: none;
}

hr {
    border: 1px solid #522E91;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', sans-serif;
}

section {
    max-width: 1024px;
}

section#landing {
    background-color: #522E91;
}

section:first-of-type {
    padding: 42px 0;
}

section:last-of-type {
    padding: 42px 0;
}

form {
    margin: auto;
    position: relative;
    line-height: 24px;
    font-weight: bold;
    padding: 10px;
}

/* FORM */
form input {
    width: 275px;
    max-width: 475px;
    display: block;
    border: 1px solid #522E91;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
    box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
}

form textarea {
    width: 274px;
    max-width: 474px;
    height: 150px;
    display: block;
    border: 1px solid #522E91;
    -webkit-box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
    box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
    resize: none;
}

footer {
   font-family: 'Inconsolata', Monospace;
   font-size: 13px;
   background-color: #522E91;
   padding-bottom: 20px;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 20px;
}

footer a[href] {
    color:  #fff;
    text-decoration: underline;
}

footer a[href]:hover {
    text-decoration: underline;
}

/* from here to down belongs to "Getting Involved" menu */
.output div {
    display: none;
}

.column-list {
  list-style: none
}

.field {
  width: 90%;
  display:none;
}

.column-list li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left:-2em;
  margin-right:1.5em;
  padding-left: 1.5em ;
  text-indent: -1em ;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.column-list li:hover {
  color: white;
  background-color: #522E91;
  cursor: pointer;
}

#columns {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border: black solid thin;
  border-radius: 10px;
    font-size: 90%;
}

#columns td {
  width: 25%;
}
  
.column {
    margin-top:0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    height: 17em;
    border: none;
}

.selected {
   background: #522E91;
   color: white;
}

.selected:hover {
   background: #522E91;
   color: white;
}

.placeholder {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.select {
  display: none;
  width: 90%;
}
