body {
    font-family: 'Droid Sans', sans-serif;
    /*font-size: 14px;*/
}

code {
    font-size: 1.2em;
}

a {
    transition: color linear .12s, opacity linear .12s
}

a:hover {
    color:  #522E91;
    /*text-decoration: underline;*/
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    padding: 20px 0;
}

nav div {
    margin-left: 20px;
}

nav a {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

nav a[href]:hover {
    color:  #000;
    text-decoration: none;
}

hr {
    border: 1px solid #522E91;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', sans-serif;
}

section {
    max-width: 1024px;
}

section#landing {
    background-color: #522E91;
}

section:first-of-type {
    padding: 95px 0;
}

section:last-of-type {
    padding: 42px 0;
}

form {
    margin: auto;
    position: relative;
    line-height: 24px;
    font-weight: bold;
    padding: 10px;
}

input {
    width: 275px;
    max-width: 475px;
    display: block;
    border: 1px solid #522E91;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
    box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
}

textarea#question {
    width: 274px;
    max-width: 474px;
    height: 150px;
    display: block;
    border: 1px solid #522E91;
    -webkit-box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
    box-shadow: 0px 0px 8px rgba(82, 46, 145, 0.3);
    resize: none;
}

footer {
   font-family: 'Inconsolata', Monospace;
   font-size: 13px;
   background-color: #522E91;
   padding-bottom: 20px;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 20px;
}

footer a[href] {
    color:  #fff;
    text-decoration: underline;
}

footer a[href]:hover {
    /*color:  #000;*/
    text-decoration: underline;
    /*text-shadow: 2px 2px 5px white;*/
}
