body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
}

a[href]:hover {
    color:  #522E91;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    background: url("pp.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 42px 42px;
    padding: 20px 0;
}

nav div {
    margin-left: 60px;
}

nav a {
    display: inline;
    margin-right: 18px;
}

nav a[href]:hover {
    color:  #000;
    text-decoration: underline;
}

hr {
    border: 1px solid #522E91;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', sans-serif;
}

section {
    max-width: 1024px;
    padding: 40px 0;
}

section#landing {
    background-color: #522E91;
}

section:first-of-type {
    padding: 95px 0;
}

/* origem:
    https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/My_first_HTML_form
*/
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    box-sizing: border-box;
}

form div + div {
    margin-top: 1em;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 60px;
    text-align: left;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on all browsers */
    resize: vertical;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 60px; /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}

footer {
   font-family: 'Inconsolata', Monospace;
   font-size: 12px;
   background-color: #522E91;
   padding-bottom: 20px;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 20px;
}

footer a[href] {
    color:  #fff;
    text-decoration: underline;
}

footer a[href]:hover {
    color:  #000;
    text-decoration: underline;
    text-shadow: 2px 2px 5px white;
}
