
nav {
    padding:10px 0;
}

nav a {
    display:inline;
    margin-right:18px
}

hr {
    margin: auto;
    max-width: 1024px;
    border: 0;
    height: 1px;
    background: #eee;
}

section {
    max-width: 1024px;
    padding: 40px 0;
}
                                             
section:first-of-type {
    padding: 95px 0;
}

#logo {
    margin-top: 9%;
}
