<section id="contatos" layout="center fix">
    <div layout="half left" ontablet="full-width" onmobile="full-width">
        <h1 layout="h-margin-15">
          <i class="material-icons" style="vertical-align: middle;">chat</i>
            Fale conosco
        </h1>
        <p layout="h-margin-15">
            O Comitê Nacional da nossa campanha de coleta mantém um grupo <b>Telegram</b>,
            entre em contato conosco:<br>
            <a href='https://telegram.me/recepcaopirata' text='big bolder'>https://telegram.me/recepcaopirata</a>
        </p>
        <p layout="h-margin-15">
            Visite o site principal
            <a href='https://partidopirata.org/' text='big bolder'>partidopirata.org</a>.
            Siga-nos via
            <a href="https://twitter.com/PartidoPirataBR" text='big bolder'>Twitter</a>.
            visite nossa fanpage no
            <a href='https://www.facebook.com/PartidoPirata.BR' text='big bolder'>Facebook</a>.
            Ou se preferir, envie uma carta para nosso Comitê Nacional no endereço
            <code>Brasília–DF. Caixa Postal 10809. CEP: 70306-970</code>
        </p>
    </div>

    <div layout="half right" ontablet="full-width" onmobile="full-width">
        <h1 layout="h-margin-15">
          <i class="material-icons" style="vertical-align: middle;">live_help</i>
            Envie uma pergunta
        </h1>
        <p layout="h-margin-15">
            Antes de perguntar, veja as <a href='/faqs/' text="big bolder">Perguntas e Respostas mais frequentes</a>.
        </p>
        <p  layout="h-margin-15">
            Se não encontrou a resposta para sua pergunta, envie então sua pergunta através
            da nossa <a href='/faqs/ask' text="big bolder">página de contato</a>.
        </p>
    </div>
</section>
