{{template "header.html"}}

    <nav layout="" text="upper big" text="navy white line-1" links="hover-white fadeIn">
        <div>
            <a href="http://partidopirata.org/">
                <img src="/assets/img/Piratpartiet.svg" width="32px" height="32px" alt="Partido Pirata" />
            </a>
            <a href="/">apoio</a>
            <a href="/faqs">FAQ</a>
        </div>
    </nav>

    <section layout="center fix">
        <h2 layout="margin-15">Respostas para as perguntas mais frequentes</h2>
        <p>Sem perguntas no momento.</p>
    </section>

{{template "footer.html"}}
