{{template "header.html"}}

<section id="landing" text="center navy white line-1" layout="center full-width fix">
    <h1 text="giant bolder" layout="h-margin-5">
        PARTIDO PIRATA<br>
        <center>
            <a href="http://www.partidopirata.org/">
                <img src="/static/imgs/Piratpartiet.svg" alt="PIRATAS" height="62" width="62" />
            </a>
        </center>
        Campanha de Coleta de Assinaturas<br>
        <span text="smaller light white" layout="h-margin-5">
            <small>Faça download da Ficha de Apoio e ajude a fundar o <code>PIRATAS</code></small>
        </span>
    </h1>
    <p>
      <a href="/static/pdf/apoiamento.pdf" layout="rounded white no-border inline-block" text="bigger no-decoration" style="padding: 15px 40px; color: #522E91;" target="_blank">
        <i class="material-icons" style="vertical-align: middle;">assignment</i>
        Baixe a Ficha
      </a>
    </p>
</section>

<section id='quem' layout="center v-padding-30">
    <h1 layout="h-margin-15">
        <i class="material-icons" style="vertical-align: middle;">info</i> O que é o Partido Pirata?
    </h1>

    <p layout="h-margin-15">
        Somos um partido político em formação, com a sigla <strong><code>PIRATAS</code></strong>, que se
        pauta pela democracia plena, pela transparência pública e pelo
        empoderamento das pessoas, com o objetivo de defender
        institucionalmente os direitos humanos fundamentais por meio do
        respeito à diversidade social, à liberdade de crença (e descrença),
        aos direitos civis e políticos, à privacidade individual e à
        liberdade de expressão.
    </p>

    <p layout="h-margin-15">Quer saber mais sobre o <strong><code>PIRATAS</code></strong>? Leia nosso
        <a href='http://partidopirata.org/documentos/estatuto/' text="big bolder">Estatuto</a>
        e o nosso <a href='http://partidopirata.org/quem-somos/estrutura-nacional/documentos/programa/' text="big bolder">Programa</a>.
         Seja um <a href='/volunteer/' text="big bolder">voluntário</a> do <strong><code>PIRATAS</code></strong>.
    </p>

    <h1 layout="h-margin-15 top-40">
        <i class="material-icons" style="vertical-align: middle;">record_voice_over</i>
        Como dar seu apoio?
    </h1>

    <p layout="h-margin-15">
        O <strong><strong><code>PIRATAS</code></strong></strong> precisa de 500 mil fichas de apoio assinadas por eleitores
        brasileiros em todo o país para obter seu registro como partido político.
        Isso só será possível com a sua participação.
        Contamos com sua colaboração para atingir a cota determinada pela legislação eleitoral e fazer com
        que o <strong><code>PIRATAS</code></strong> abra mais essa frente de atuação!
    </p>

    <p layout="margin-30 padding-10 h-padding-20 gray-80 rounded" text="white">
    <span text="bolder bigger line-1">Atenção</span>: apoiar a criação do <strong><code>PIRATAS</code></strong>
        não significa filiação partidária e não gera nenhum outro vínculo ou
        responsabilidade legal com o partido. Apoiar a criação de partidos políticos
        É um direito seu no pleno exercício de sua cidadania.
    </p>

    <p layout="h-margin-15">
       Encaminhe as fichas de apoio, não espere acumular muitas fichas de apoio para enviar para o Comitê Nacional:
    <br></p>

    <center><strong><code>São Paulo-SP. Caixa Postal 285. CEP: 01031-970</code></strong></center>

    <p></p>

    <div layout="half left" ontablet="full-width" onmobile="full-width">
        <p layout="margin-15">
            Apoio individual
        </p>
        <ol layout="margin-15">
            <li>
                Imprima a ficha de apoio. Cada folha contém 3 fichas, preencha apenas uma delas.
            </li>
            <li>
                Utilize caneta esferográfica e tenha seu Título de Eleitor em mãos.
            </li>
            <li>
                Nome completo sem abreviações, inclua os dados de seu Título de Eleitor, zona eleitoral, seção e etc.<br>
                <span text="bold upper line-1 red">Tip</span>: Informações de Município e Estado são do local de emissão
                do título, não do seu local de nascimento.
            </li>
            <li>
                Se não tiver seu Título de Eleitor em mãos acesse o site do
                <a href='http://www.tse.jus.br/eleitor/servicos/situacao-eleitoral/consulta-por-nome' text="big bolder">TSE</a>
                para obter os dados.
            </li>
            <li>
                Se estiver com dificuldades para acessar o site do
                <a href='http://www.tse.jus.br/eleitor/servicos/situacao-eleitoral/consulta-por-nome' text="big bolder">TSE</a>
                coloque na ficha a data de seu nascimento e o nome completo de sua mãe, sem abreviações.<br>
                <span text="bold upper line-1 red">Tip</span>: o nome completo de sua mãe precisa ser o nome que ela tem no título dela.
            </li>
            <li>Assine a ficha de apoio antes de enviá-la pelo correio. Sua assinatura é a garantia de apoio ao
                <strong><code>PIRATAS</code></strong>.</li>
        </ol>
    </div>

    <div layout="half right" ontablet="full-width" onmobile="full-width">
        <p layout="margin-15">
            Seja coletor e nos ajude a colher assinaturas, sua ajuda é importantes no apoio ao <strong><code>PIRATAS</code></strong>.
        </p>

        <ol layout="margin-15">
            <li>Imprima a ficha de apoio. Cada folha contém 3 fichas.</li>
            <li>Use caneta esferográfica nas fichas dos apoiadores que você conseguir, e informe o Títulos de Eleitor em cada apoio coletado.</li>
            <li>Peça que informem o nome completo sem abreviações. Preencha as lacunas com os dados dos Títulos de Eleitor: zona eleitoral, seção e etc.<br>
                <span text="bold upper line-1 red">Tip</span>: Informações sobre Município e Estado são local de emissão do documento, não do local de nascimento.</li>
            <li>Caso não tenha o Título de Eleitor em mãos, preencha os campos da data de nascimento e nome da mãe, sem abreviações.<br>
                <span text="bold upper line-1 red">Tip</span>: precisa ser o nome que a mãe do apoiador tem no título de eleitor.</li>
            <li>Cada apoiador deverá assinar sua ficha. A assinatura é a garantia de apoio ao <strong><code>PIRATAS</code></strong>.</li>
        </ol>
    </div>

    <br>
    <br>
</section>

<section id="contatos" layout="center fix">
    <div layout="center">
        <br>
        <p>Envie sua ficha pelo correio para o endereço do Comitê Nacional:
        <br>
        <strong><code>São Paulo-SP. Caixa Postal 285. CEP: 01031-970</code></strong>
        </p>
        <br>
        <center><img src="/static/imgs/liberte_democracia_PIRATAS.png" alt="Liberte a Democracia com os PIRATAS" /><center>
    </div>

    <div layout="half left" ontablet="full-width" onmobile="full-width">
        <h1 layout="h-margin-15">
          <i class="material-icons" style="vertical-align: middle;">chat</i>
            Fale conosco
        </h1>
        <p layout="h-margin-15">
            O Comitê Nacional da nossa campanha de coleta mantém um grupo <b>Telegram</b>,
            entre em contato conosco:<br>
            <a href='https://telegram.me/recepcaopirata' text='big bolder'>https://telegram.me/recepcaopirata</a>
        </p>
        <p layout="h-margin-15">
            Visite o site principal
            <a href='https://partidopirata.org/' text='big bolder'>partidopirata.org</a>.
            Siga-nos via
            <a href="https://twitter.com/PartidoPirataBR" text='big bolder'>Twitter</a>.
            visite nossa fanpage no
            <a href='https://www.facebook.com/PartidoPirata.BR' text='big bolder'>Facebook</a>.
            Ou se preferir, envie uma carta para nosso Comitê Nacional no endereço<br>
            <code>Brasília–DF. Caixa Postal 10809. CEP: 70306-970</code>
        </p>
    </div>

    <div layout="half right" ontablet="full-width" onmobile="full-width">
        <h1 layout="h-margin-15">
          <i class="material-icons" style="vertical-align: middle;">live_help</i>
            Envie uma pergunta
        </h1>
        <p layout="h-margin-15">
            Antes de perguntar, veja as <a href='/faqs/' text="big bolder">Perguntas e Respostas mais frequentes</a>.
        </p>
        <p  layout="h-margin-15">
            Se não encontrou a resposta para sua pergunta, envie então sua pergunta através
            da nossa <a href='/faqs/ask' text="big bolder">página de contato</a>.
        </p>
    </div>
</section>

{{template "footer.html"}}
