{{template "header.html"}}

    <section id="landing" text="center navy white line-1" layout="center full-width fix">
        <h1 text="giant bolder" layout="h-margin-5">
            PARTIDO PIRATA<br>
            <center>
                <a href="http://www.partidopirata.org/">
                    <img src="/static/imgs/Piratpartiet.svg" alt="PIRATAS" height="62" width="62" />
                </a>
            </center>
            Campanha de Coleta de Assinaturas<br>
            <span text="smaller light white" layout="h-margin-5">
                <small>Faça download da Ficha de Apoio e ajude a fundar o <code>PIRATAS</code></small>
            </span>
        </h1>
        <p>
          <a href="/static/pdf/apoiamento.pdf" layout="rounded white no-border inline-block" text="bigger no-decoration" style="padding: 15px 40px; color: #522E91;" target="_blank">
            <i class="material-icons" style="vertical-align: middle;">assignment</i>
            Baixe a Ficha
          </a>
        </p>
    </section>

    {{template "texto_apoio.html"}}

    <section text="center" layout="center full-width fix">
        <div layout="v-padding-15">
            <img src="/static/imgs/liberte_democracia_PIRATAS.png" alt="Liberte a Democracia com os PIRATAS" layout="top-40" />
        </div>
    </section>

    {{template "contatos.html"}}

    {{template "footer.html"}}
