
<section id='quem' layout="center v-padding-30">

    <h1 layout="h-margin-15">
        <i class="material-icons" style="vertical-align: middle;">info</i> O que é o Partido Pirata?
    </h1>

    <p layout="h-margin-15">
        Somos um partido político em formação, com a sigla <strong><code>PIRATAS</code></strong>, que se
        pauta pela democracia plena, pela transparência pública e pelo
        empoderamento das pessoas, com o objetivo de defender
        institucionalmente os direitos humanos fundamentais por meio do
        respeito à diversidade social, à liberdade de crença (e descrença),
        aos direitos civis e políticos, à privacidade individual e à
        liberdade de expressão.
    </p>

    <p layout="h-margin-15">Quer saber mais sobre o <strong><code>PIRATAS</code></strong>? Leia nosso
        <a href='http://partidopirata.org/documentos/estatuto/' text="big bolder">Estatuto</a>
        e o nosso <a href='http://partidopirata.org/quem-somos/estrutura-nacional/documentos/programa/' text="big bolder">Programa</a>.
         Seja um <a href='/volunteer/' text="big bolder">voluntário</a> do <strong><code>PIRATAS</code></strong>.
    </p>

    <h1 layout="h-margin-15 top-40">
        <i class="material-icons" style="vertical-align: middle;">record_voice_over</i>
        Como dar seu apoio?
    </h1>

    <p layout="h-margin-15">
        O <strong><strong><code>PIRATAS</code></strong></strong> precisa de 500 mil fichas de apoio assinadas por eleitores
        brasileiros em todo o país para obter seu registro como partido político.
        Isso só será possível com a sua participação.
        Contamos com sua colaboração para atingir a cota determinada pela legislação eleitoral e fazer com
        que o <strong><code>PIRATAS</code></strong> abra mais essa frente de atuação!
    </p>

    <p layout="margin-30 padding-10 h-padding-20 gray-80 rounded" text="white">
    <span text="bolder bigger line-1">Atenção</span>: apoiar a criação do <strong><code>PIRATAS</code></strong>
        não significa filiação partidária e não gera nenhum outro vínculo ou
        responsabilidade legal com o partido. Apoiar a criação de partidos políticos
        É um direito seu no pleno exercício de sua cidadania.
    </p>

    <div layout="half left" ontablet="full-width" onmobile="full-width">
        <p layout="margin-15">
            Apoio individual
        </p>
        <ol layout="margin-15">
            <li>
                Imprima a ficha de apoio. Cada folha contém 3 fichas, preencha apenas uma delas.
            </li>
            <li>
                Utilize caneta esferográfica e tenha seu Título de Eleitor em mãos.
            </li>
            <li>
                Nome completo sem abreviações, inclua os dados de seu Título de Eleitor, zona eleitoral, seção e etc.<br>
                <span text="bold upper line-1 red">Tip</span>: Informações de Município e Estado são do local de emissão
                do título, não do seu local de nascimento.
            </li>
            <li>
                Se não tiver seu Título de Eleitor em mãos acesse o site do
                <a href='http://www.tse.jus.br/eleitor/servicos/situacao-eleitoral/consulta-por-nome' text="big bolder">TSE</a>
                para obter os dados.
            </li>
            <li>
                Se estiver com dificuldades para acessar o site do
                <a href='http://www.tse.jus.br/eleitor/servicos/situacao-eleitoral/consulta-por-nome' text="big bolder">TSE</a>
                coloque na ficha a data de seu nascimento e o nome completo de sua mãe, sem abreviações.<br>
                <span text="bold upper line-1 red">Tip</span>: o nome completo de sua mãe precisa ser o nome que ela tem no título dela.
            </li>
            <li>Assine a ficha de apoio antes de enviá-la pelo correio. Sua assinatura é a garantia de apoio ao
                <strong><code>PIRATAS</code></strong>.</li>
            <li>
                Envie sua ficha pelo correio para o endereço do Comitê Nacional:<br>
                <code>Brasília–DF. Caixa Postal 10809. CEP: 70306-970</code>
            </li>
        </ol>
    </div>


    <div layout="half right" ontablet="full-width" onmobile="full-width">
        <p layout="margin-15">
            Seja coletor e nos ajude a colher assinaturas, sua ajuda é importantes no apoio ao <strong><code>PIRATAS</code></strong>.
        </p>

        <ol layout="margin-15">
            <li>Imprima a ficha de apoio. Cada folha contém 3 fichas.</li>
            <li>Use caneta esferográfica nas fichas dos apoiadores que você conseguir, e informe o Títulos de Eleitor em cada apoio coletado.</li>
            <li>Peça que informem o nome completo sem abreviações. Preencha as lacunas com os dados dos Títulos de Eleitor: zona eleitoral, seção e etc.<br>
                <span text="bold upper line-1 red">Tip</span>: Informações sobre Município e Estado são local de emissão do documento, não do local de nascimento.</li>
            <li>Caso não tenha o Título de Eleitor em mãos, preencha os campos da data de nascimento e nome da mãe, sem abreviações.<br>
                <span text="bold upper line-1 red">Tip</span>: precisa ser o nome que a mãe do apoiador tem no título de eleitor.</li>
            <li>Cada apoiador deverá assinar sua ficha. A assinatura é a garantia de apoio ao <strong><code>PIRATAS</code></strong>.</li>
            <li>
                Encaminhe as fichas de apoio, não espere acumular muitas fichas de apoio para enviar para o Comitê Nacional:
                <code>Brasília–DF. Caixa Postal 10809. CEP: 70306-970</code>
            </li>
        </ol>
    </div>

</section>
